<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
    <Appenders>
        <!--控制台-->
        <Console name="Console" target="SYSTEM_OUT">-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!--普通文件：-->
        <File name="File" fileName="/export/Logs/sys.log" append="true" immediateFlush="true" >
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %L- %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!--过滤掉spring的一些无用的debug信息 -->
        <logger name="org.springframework" level="error" />
        <logger name="org.thymeleaf" level="error" />
        <logger name="com.jd.jsf" level="error" />
        <Root level="info" >
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>